<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-sm-6 pb-3" [ngClass]="
                this.updatedtheme === 'dark' ? 'headlinetextD' : 'headlinetextL'
            ">
            <h3 class="pl-3 text-white">Company Profile</h3>
        </div>

        <br />
        <div class="row" [ngClass]="this.updatedtheme === 'dark' ? 'main-boxD' : 'main-boxL'">
            <div class="col-6">
                <div class="ct_company_profile_input">
                    <label for="companyName" class="mt-4">Company Name</label>
                    <input type="text" [(ngModel)]="companyDetails.companyName" name="companyName" [ngClass]="
                            this.updatedtheme === 'dark'
                                ? 'inputboxD'
                                : 'inputboxL'
                        " />
                </div>

                <div class="ct_company_profile_input">
                    <label for="industryType" class="mt-3 mb-2">Industry Type</label>
                    <div class="">
                        <p-multiSelect defaultLabel="Select Industry Type" [options]="industryTypes"
                            [(ngModel)]="selectedIndustryTypes" optionLabel="name" name="industryType"></p-multiSelect>
                    </div>
                </div>

                <div class="ct_company_profile_input">
                    <label for="secondaryIndustryType" class="mt-3 mb-2">Secondary Industry Type</label>
                    <p-multiSelect [options]="industryTypes" [(ngModel)]="selectedSecondaryIndustryTypes"
                        defaultLabel="Select Secondary Industry Type" optionLabel="name" display="chip"
                        name="secondaryIndustryType"></p-multiSelect>
                </div>

                <div class="ct_company_profile_input">
                    <label for="location" class="mt-3">Location</label>
                    <input type="text" [(ngModel)]="companyDetails.location" placeholder="Enter Location"
                        class="border rounded text-white" name="location" />
                </div>

                <div class="row mt-4">
                    <button  type="submit" class="px-3" (click)="saveChanges()">
                        Save Changes
                    </button>
                </div>
            </div>

           
            <div class="col-6">
                <div class="mr-3 ml-5">
                    <label for="logo" class="mt-4 mb-1">Logo</label>
                    <p style="font-size: 12px" class="mt-0">
                        We suggest you upload a transparent PNG logo with a size
                        of 140px width and 50px height.
                    </p>
                </div>
               
                <div class="d-flex ml-5">
                    <div class="uploadfile-div">
                        <input type="file" class="fileinput pointer" (change)="onFileSelected($event.target.files)"
                            accept=".jpg,.png" />
                    </div>
                   
                    <div class="logodiv">
                        <p-image [src]="uploadedImageUrl" alt="Image" height="100" width="150"></p-image>
                    </div>

                   
                </div>

                <div class="mr-2 ml-5">
                    <div class="mt-3">
                        <label for="bio">Bio</label>
                    </div>
                    <div class="ct_company_profile_input">
                        <textarea [(ngModel)]="companyDetails.companyBio" class="textarea" pInputTextarea
                            [autoResize]="true" name="bio"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>