<section class="mt-2">
    <div class="container-fluid px-0">
        <div class="mb-5 d-flex align-items-center justify-content-between gap-3   mt-2 flex-wrap ct_gap_10">
            <h4 class="ct_fs_24 ct_fw_600 mb-0">KPI Dashboard</h4>
            <div class="d-flex align-items-center" style="gap: 20px;">
                <div class="form-group d-flex align-items-center ct_gap_10   mb-0">
                    <label for="" class="ct_white_space_nowrape mb-0">Format
                    </label>

                    <p-dropdown
                        class="finput ct_input_white_bg13 ct_res_100_767 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                        ngModel placeholder="Select" [options]="shortBy" optionLabel="shortBy" optionValue="shortBy"
                        [showClear]="true" (onChange)="onSortChange($event)" styleClass="facilitydropdown"
                        #country="ngModel" required>
                    </p-dropdown>
                </div>
                <div class="form-group  mb-0  et_light_green_4567" style="width: fit-content;">

                    <p-dropdown
                        class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                        ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                        styleClass="facilitydropdown" #country="ngModel" required>
                    </p-dropdown>
                </div>
            </div>
        </div>

        <div class="d-flex  justify-content-between gap-3 align-items-start   mt-2 ct_flex_column_767"
            style="gap: 20px;">

            <div class="d-flex align-items-center gap-3 et_flex_end_1400  ct_gap_10 flex-wrap ct_flex_column_767 w-100">
                <div
                    class="form-group d-flex align-items-center ct_gap_10 flex-wrap ct_res_100_767 mb-0 et_flex_wrap_1400">
                    <label for="" class="ct_white_space_nowrape mb-0">Facility
                    </label>

                    <p-dropdown
                        class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                        ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                        styleClass="facilitydropdown" #country="ngModel" required>
                    </p-dropdown>
                </div>
                <div
                    class="form-group d-flex align-items-center ct_gap_10 flex-wrap ct_res_100_767 mb-0 et_flex_wrap_1400">
                    <label for="" class="ct_white_space_nowrape mb-0">KPI
                    </label>
                    <p-dropdown
                        class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                        ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                        styleClass="facilitydropdown" #country="ngModel" required>
                    </p-dropdown>
                </div>
                <div class=""><button
                        class="GroupButton ct_assign_package_btn129 ct_animation_btn_121 w-auto px-3 mt-0"> Set Target
                        button
                    </button></div>



            </div>

            <div class="d-flex align-items-center ct_gap_10 ct_res_100_767">
                <div class="form-group d-flex align-items-center ct_gap_10  ct_res_100_767 mb-0 et_flex_wrap_1400">
                    <label for="" class="ct_white_space_nowrape mb-0">Start Date
                    </label>

                    <p-dropdown
                        class="finput ct_input_white_bg13 ct_res_100_767 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                        ngModel placeholder="Select" [options]="shortBy" optionLabel="shortBy" optionValue="shortBy"
                        [showClear]="true" (onChange)="onSortChange($event)" styleClass="facilitydropdown"
                        #country="ngModel" required>
                    </p-dropdown>
                </div>
                <div class="form-group d-flex align-items-center ct_gap_10  ct_res_100_767 mb-0 et_flex_wrap_1400">
                    <label for="" class="ct_white_space_nowrape mb-0">End Date
                    </label>
                    <p-dropdown
                        class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                        ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                        styleClass="facilitydropdown" #country="ngModel" required>
                    </p-dropdown>
                </div>
            </div>


        </div>

        <div class="mt-5">
            <div class="row ">
                <div class="col-lg-6 mb-4">
                    <div class="form-group mb-0">

                        <p-dropdown
                            class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                            ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                            styleClass="facilitydropdown" #country="ngModel" required>
                        </p-dropdown>

                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="form-group mb-0">

                        <p-dropdown
                            class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                            ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                            styleClass="facilitydropdown" #country="ngModel" required>
                        </p-dropdown>

                    </div>
                </div>


            </div>
        </div>
        <div class=" mt-4">
            <div>
                <h3 class="ct_fs_24 mb-4">Eerngy Consumption</h3>
            </div>

            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="form-group mb-0">

                        <p-dropdown
                            class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                            ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                            styleClass="facilitydropdown" #country="ngModel" required>
                        </p-dropdown>

                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="form-group mb-0">

                        <p-dropdown
                            class="finput ct_res_100_767 ct_input_white_bg13 ct_w_150_select_345 ct_select_2_drop_white ct_input_dark_text_145"
                            ngModel placeholder="Select" [options]="Show" optionLabel="Show" optionValue="Show"
                            styleClass="facilitydropdown" #country="ngModel" required>
                        </p-dropdown>

                    </div>
                </div>


            </div>
        </div>

    </div>
</section>