<div id="editForm"
    style="display:none; text-align:center; position:absolute; border: 1px solid #aeaeae;width:300px;background-color:#F57C00;z-index:10000; ">
    <div id="editForm_title" style="padding: 10px 0 10px 0; background-color:#039BE5; color: #ffffff;">Edit Form</div>
    <div>
        <div style="padding: 10px 0 5px 0;">
            <label style="color:#ffffff; width:50px; display:inline-block;" for="name">Name</label>
            <input style="background-color:#FFCA28" id="name" value="" />
        </div>
        <div style="padding: 5px 0 10px 0;">
            <label style="color:#ffffff; width:50px; display:inline-block;" for="title">Title</label>
            <input style="background-color:#FFCA28"  id="title" value="" />
        </div>
        <div style="padding: 5px 0 15px 0;">
            <button style="width:108px;" id="cancel">Cancel</button>
            <button style="width:108px;" id="save">Save</button>
        </div>
    </div>
</div>
<div id="tree"></div>
