<div class="container-fluid">
    <div class="row pt-4">
        <div class="col-sm-6" [ngClass]="
                this.updatedtheme === 'dark' ? 'headlinetextD' : 'headlinetextL'
            ">
            <h3 class="m-0 pl-4">Facilities</h3>
        </div>
    </div>

    <div class="row d-flex justify-content-between gap-1 mx-3 pt-3 pb-5">
        <div class="col-5 myCol" [ngClass]="
                this.updatedtheme === 'dark' ? 'Location-tabD' : 'Location-tabL'
            ">
            <div class="row p-2">
                <div class="loc-head" [ngClass]="
                        this.updatedtheme === 'dark' ? 'loc-headD' : 'loc-headL'
                    ">
                    <p class="">Facility</p>
                </div>
                <div class="d-flex justify-content-between text-style text-light scope-Div">
                    <div class="searchWidth form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input [(ngModel)]="searchData" autocomplete="off" type="text" [ngClass]="
                                this.updatedtheme === 'dark'
                                    ? 'form-controlD'
                                    : 'form-controlL'
                            " class="form-control" placeholder="Search" />
                    </div>
                    <div class="form-group has-search text-light">
                        <button class="LocButton" (click)="showAddFacilityDialog()">
                            Add Facility
                        </button>
                    </div>
                </div>
            </div>

            <div class="dataTable scrollit" [ngStyle]="{display: FacilityData}">
                <table class="table_loc">
                    <tbody>
                        <tr clickable (click)="tableData(d.ID)" *ngFor="let d of LocData"
                            class="col-12 tableRow border-bottom rounded pointer"
                            [ngClass]="{tableRowclicked: id_var === d.ID}">
                            <td class="col-4 td text-initial">
                                {{ d.AssestName }}
                            </td>
                            <td class="col-4 td text-center">
                                {{ d.AssestType }}
                                <i class="fa fa-industry" style="font-size: 15px"></i>
                            </td>
                            <td class="col-4 td text-center">
                                {{ d.city_name }}
                                <i class="fa fa-map-marker-alt" style="font-size: 15px"></i>
                            </td>
                            <!-- <td class="col-4 td text-right">
                                <button type="button" (click)="tableData(d.id)"
                                    [ngClass]="{vdtextColor: id_var === d.id}">
                                    view details>>
                                </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-light noData" [ngStyle]="{display: NoData}">
                <div class="icon mt-3">
                    <i class="fa fa-info-circle" style="font-size: 20px" aria-hidden="true"></i>
                </div>
                <label class="text-center label">No facilities available. Start by adding a new facility
                    using the add facility button.</label>
            </div>
        </div>

        <div class="col-6 rounded" [ngClass]="
                this.updatedtheme === 'dark' ? 'Location-tabD' : 'Location-tabL'
            ">
            <div class="row p-2">
                <div class="loc-head" [ngClass]="
                        this.updatedtheme === 'dark' ? 'loc-headD' : 'loc-headL'
                    ">
                    <p class="">Facility Details:</p>
                </div>
            </div>

            <div class="col d-flex justify-content-end mt-3"></div>
            <div class="row font-LocProfile mt-4" [ngStyle]="{display: FacilityFullData}">
                <div class="col ml-3">
                    <p *ngIf="facilityDetails.AssestName != undefined">Asset Name :</p>
                    <p *ngIf="facilityDetails.AssestType != undefined">Asset Type :</p>
                    <p *ngIf="facilityDetails.IsWaterStreenArea != undefined">Water Stress Area :</p>
                    <p *ngIf="facilityDetails.EquityPercentage != undefined">Equity Percentage :</p>
                    <p *ngIf="facilityDetails.Address != undefined">Address :</p>
                    <p *ngIf="facilityDetails.city_name != undefined">City :</p>
                    <p *ngIf="facilityDetails.state_name != undefined">State :</p>
                    <p *ngIf="facilityDetails.country_name != undefined">Country :</p>
                    <p>Assigned User :</p>
                    <p>Data Points</p>
                </div>
                <div class="col">
                    <p>{{ facilityDetails.AssestName }}</p>
                    <p>{{ facilityDetails.AssestType }}</p>
                    <p>{{ facilityDetails.IsWaterStreenArea }}</p>
                    <p *ngIf="facilityDetails.EquityPercentage != undefined">{{ facilityDetails.EquityPercentage }}%</p>
                    <p>{{ facilityDetails.Address }}</p>
                    <p>{{ facilityDetails.city_name }}</p>
                    <p>{{ facilityDetails.state_name }}</p>
                    <p>{{ facilityDetails.country_name }}</p>
                    <div class="row gap-4">
                        <div class="dropdown ct_facility_2_main">
                            <button [ngClass]="
                                    this.updatedtheme === 'dark'
                                        ? 'dropbtnD'
                                        : 'dropbtnL'
                                " class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>
                                    Manager

                                    <!-- <span class="badge badgespan">{{
                                        dropCountManager.length
                                    }}</span> -->
                                    <span class="badge badgespan" *ngIf="managerList1">{{ managerList1.length
                                        }}</span>

                                </div>
                            </button>
                            <div class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item dropItemManager" *ngFor="let d of managerList1">{{ d.username }}</a>
                            </div>
                        </div>
                        <div class="dropdown ct_facility_2_main">
                            <button [ngClass]="
                                    this.updatedtheme === 'dark'
                                        ? 'dropbtnD'
                                        : 'dropbtnL'
                                " class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div>
                                    Staff
                                    <span class="badge badgespan">{{
                                        staffList1.length
                                        }}</span>
                                </div>
                            </button>
                            <div class="dropdown-content dropdown-menu">
                                <a class="dropdown-item dropItemStaff" *ngFor="let s of staffList1">{{ s.username }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row dataPointDiv">
                        <div class="ct_facility_2_main">
                            <button type="button" [ngClass]="
                                    this.updatedtheme === 'dark'
                                        ? 'dataPointD'
                                        : 'dataPointL'
                                " (click)="showDP_Dialog()">
                                Manage Data Points
                            </button>
                        </div>
                    </div>
                </div>

                <div class="d-flex text-light text-style scope-Div">
                    <div>
                        <i class="LocButtonEdit pi pi-user-edit pointer d-flex text-white"
                            (click)="showEditFacilityDialog()">
                            <p class="pl-2">Edit</p>
                        </i>
                    </div>
                    <div class="form-group has-search text-light pointer">
                        <i *ngIf="userdetails.isDisabledDelete !== true"
                            (click)="deleteFacility($event, facilityDetails.ID)"
                            class="deleteButton pi pi-trash pointer d-flex text-white">
                            <p class="pl-2">Delete</p>
                        </i>
                    </div>
                </div>


            </div>
            <div class="text-light noData" [ngStyle]="{display: NoData}">
                <div class="icon mt-3">
                    <i class="fa fa-info-circle" style="font-size: 20px" aria-hidden="true"></i>
                </div>
                <label class="text-center label">No facilities available. Start by adding a new facility
                    using the add facility button.</label>
            </div>



            <div class="justify-content-center">
                <p-dialog [(visible)]="visible" [breakpoints]="{'960px': '75vw'}" styleClass="facilityDialog"
                    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" [closable]="false">
                    <p-header *ngIf="isEdit === false">
                        Add new Facility
                    </p-header>
                    <p-header *ngIf="isEdit === true"> Edit Facility </p-header>
                    <div style="height: 95%;" class="modal-body text-white text-style">
                        <form style="height: 100%;" #addCompForm="ngForm" class="col-12" (ngSubmit)="
                                isEdit === false
                                    ? saveFacility(addCompForm.value)
                                    : editfacility(
                                          facilityDetails.ID,
                                          addCompForm.value
                                      )
                            ">
                            <div style="height: 98%;" class="d-flex row">
                                <div class="facilitygrid col-6">
                                    <div>
                                        <label for="Aname" class="text-dark">Asset name</label>
                                        <input required ngModel name="assetName" type="text"
                                            class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Asset Name.." #assetName="ngModel"
                                            [(ngModel)]="facilityDetails.AssestName" assetName />
                                        <p *ngIf="addCompForm.submitted && assetName.errors?.['required']"
                                            class="text-danger mb-0">
                                            Asset Name is required
                                        </p>

                                    </div>
                                    
                                    <div class="ct_input_white_bg13 ct_input_dark_text_121 ct_city_name_select_2_search">
                                        <label for="country" class=" text-dark">Country Name</label>
                                        <p-dropdown required ngModel name="country" #country="ngModel"
                                            [options]="countryData" optionLabel="Name" [filter]="true" filterBy="Name"
                                            [showClear]="true" optionValue="Name" [(ngModel)]="
                                                facilityDetails.country_name
                                            " [scrollable]="true" placeholder="Select a Country"
                                            (onChange)="searchState()">
                                        </p-dropdown>
                                        <p *ngIf="addCompForm.submitted && country.errors?.['required']"
                                            class="text-danger mb-0">
                                            Country Name is required
                                        </p>

                                    </div>
                                    <div class="ct_input_white_bg13 ct_input_dark_text_121 ct_city_name_select_2_search">
                                        <label for="state" class=" text-dark">State Name</label>
                                        <p-dropdown required ngModel name="state" #state="ngModel" [options]="stateData"
                                            optionLabel="Name" optionValue="Name" [filter]="true" filterBy="Name"
                                            [showClear]="true" [(ngModel)]="facilityDetails.state_name"
                                            placeholder="Select a State" (onChange)="searchCity()">
                                        </p-dropdown>
                                        <p *ngIf="addCompForm.submitted && state.errors?.['required']"
                                            class="text-danger mb-0">
                                            State Name is required
                                        </p>
                                    </div>
                                    <div class="ct_input_white_bg13 ct_input_dark_text_121 ct_city_name_select_2_search">
                                        <label for="city" class=" text-dark">City Name</label>
                                        <p-dropdown required ngModel name="city" #city="ngModel" [options]="cityData"
                                            optionLabel="Name" optionValue="Name" [filter]="true" filterBy="Name"
                                            [showClear]="true" [(ngModel)]="facilityDetails.city_name"
                                            placeholder="Select a City"></p-dropdown>
                                        <p *ngIf="addCompForm.submitted && city.errors?.['required']"
                                            class="text-danger mb-0">
                                            City Name is required
                                        </p>
                                    </div>

                                </div>

                                <div class="facilitygrid col-6">
                                    <div>
                                        <label for="atype" class=" text-dark">Asset type / Department</label>
                                        <input required ngModel name="assetType" type="text"
                                            class="form-control Dashboard-tab text-white"
                                            placeholder="Enter Asset Type.." [(ngModel)]="facilityDetails.AssestType"
                                            #assetType="ngModel" />
                                        <p *ngIf="addCompForm.submitted && assetType.errors?.['required']"
                                            class="text-danger mb-0">
                                            Asset Type is required
                                        </p>

                                    </div>
                                   
                                    <div>
                                        <label for="equity" class=" text-dark">Equity percentage</label>
                                        <input ngModel name="equity" type="number"
                                            class="form-control Dashboard-tab text-white"
                                            placeholder="Enter equity percentage.." [(ngModel)]="
                                                facilityDetails.EquityPercentage
                                            " #equity="ngModel" />

                                    </div>
                                    <div>
                                        <label for="address" class=" text-dark">Address</label>
                                        <input required ngModel name="address" type="text"
                                            class="form-control Dashboard-tab text-white"
                                            placeholder="Enter full address.." [(ngModel)]="facilityDetails.Address"
                                            #address="ngModel" />

                                        <p *ngIf="addCompForm.submitted && address.errors?.['required']"
                                            class="text-danger mb-0">
                                            Address is required
                                        </p>
                                    </div>
                                    <div>
                                        <label for="fname" class="text-dark">Water stress area</label>
                                        <div class="form-check">
                                            <input ngModel class="form-check-input" type="checkbox" name="yes"
                                                value="false" [(ngModel)]="
                                                    facilityDetails.IsWaterStreenArea
                                                " />
                                            <label class="form-check-label text-dark" for="false">
                                                Yes
                                            </label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <Button *ngIf="isEdit == false" type="submit" class="LocButton">
                                    Save
                                </Button>
                                <Button *ngIf="isEdit == true" type="submit" class="LocButton">
                                    Update
                                </Button>
                                <span type="button" class="text-white font-weight-light ct_close_btn1231" (click)="
                                        isEdit == false
                                            ? closeAddFacilityDialog()
                                            : closeEditFacilityDialog()
                                    ">
                                    Close
                                </span>
                            </div>
                        </form>
                    </div>
                </p-dialog>
            </div>
            <!-- close model dialog -->
            <!-- open delete dialog -->

            <!-- ghghjujhuj -->

            <p-confirmDialog #cd [style]="{width: '60vw'}">
                <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"
                        class="span-color cancel-button"></button>
                    <button pButton icon="pi pi-times" label="Cancel" (click)="cd.reject()"
                        class="p-button-raised p-button-danger"></button>
                </ng-template>
            </p-confirmDialog>
            <!-- close delete dialog -->
            <!-- open manage data point model dialog -->
            <div class="justify-content-center">
                <p-dialog class="dpDIv ct_scrool_none_121" header="Manage Data Point" [visible]="DP_BoxVisible"
                    [breakpoints]="{'2460px': '85vw'}" [style]="{width: '80vw'}" [draggable]="false"
                    [(visible)]="DP_BoxVisible">
                    <div class="modal-body text-white text-style">
                        <form #DataPointForm="ngForm" class="col-12" (ngSubmit)="SaveManageDataPoint()">
                            <div class="">
                                <!-- <p-tabMenu class="tabMenu" [model]="items" [activeItem]="active"></p-tabMenu> -->
                                <!-- <p-tabMenu [model]="seedData" [activeItem]="active">
                                    <ng-template pTemplate="item" let-item let-i="index">
                                        {{item.scopeName}}
                                    </ng-template>
                                </p-tabMenu> -->
                                <!-- <p-tabView [activeIndex]="0" style="width: 100%;">
                                    <p-tabPanel *ngFor="let seed of seedData; let i = index">

                                        <ng-template pTemplate="header">
                                            {{ seed.scopeName }}
                                        </ng-template>
                                        <div class="card flex justify-content-center">
                                            <p-accordion [activeIndex]="0">
                                                <p-accordionTab *ngFor="
                                                        let h of seed.categorySeedData
                                                    " header="{{ h.catName }}" [selected]="true">
                                                    <div class="row">
                                                        <div *ngFor="
                                                                let child of h.subCategorySeedDatas
                                                            " class="col-4 d-flex justify-content-between dpDiv">
                                                            <p-checkbox name="active_{{
                                                                    child.id
                                                                }}" id binary="true" label="{{
                                                                    child.item
                                                                }}" [(ngModel)]="
                                                                    child.active
                                                                "></p-checkbox>
                                                       
                                                            <div *ngIf="child.active" class="togglewidth d-flex">
                                                                <p-inputSwitch name="ismandatory_{{
                                                                        child.id
                                                                    }}" [(ngModel)]="
                                                                        child.isMandatory
                                                                    "></p-inputSwitch>
                                                           
                                                                <label class="mandatorylabel">Set as
                                                                    mandatory
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </p-accordionTab>
                                            </p-accordion>
                                        </div>
                                     


                                    </p-tabPanel>
                                    
                                </p-tabView> -->

                                <div class="row" *ngIf="scope1Category">
                                    <div class="col-md-4 mb-4">
                                        <div class="">
                                            <label for="" class="text-dark w-100">Scope 1</label>
                                            <!-- <p-multiSelect class="ct_drop_scroll" [options]="scope1Category" name="Item" defaultLabel="Select a template"
                                         
                                            optionLabel="Item" optionValue="Id"></p-multiSelect> -->
                                            <p-multiSelect class="ct_calender_input_1234 ct_drop_scroll" (onChange)="onMultiSelectChange($event)" [options]="scope1Category" [(ngModel)]="selectedScope1" [ngModelOptions]="{standalone: true}"  [group]="true"   defaultLabel="Select category" scrollHeight="250px" display="chip">
                                                <ng-template let-group pTemplate="group">
                                                    <div class="flex align-items-center">
                                                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/> -->
                                                        <span>{{group.label}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                           
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="">
                                            <label for="" class="text-dark w-100">Scope 2</label>
                                            <p-multiSelect class="ct_calender_input_1234 ct_drop_scroll" [options]="scope2Category" [group]="true" [(ngModel)]="selectedScope2" [ngModelOptions]="{standalone: true}"  defaultLabel="Select category" scrollHeight="250px" display="chip">
                                                <ng-template let-group pTemplate="group">
                                                    <div class="flex align-items-center">
                                                        <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/> -->
                                                        <span>{{group.label}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-4">
                                        <div class="">
                                            <label for="" class="text-dark w-100">Scope 3</label>
                                            <!-- <p-multiSelect class="ct_calender_input_1234 ct_drop_scroll" [options]="scope3Category" [group]="true" [(ngModel)]="selectedScope3" [ngModelOptions]="{standalone: true}"  defaultLabel="Select category" scrollHeight="250px" display="chip">
                                                <ng-template let-group pTemplate="group">
                                                    <div class="flex align-items-center">
                                          
                                                        <span>{{group.label}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-multiSelect> -->

                                            <p-multiSelect class="ct_calender_input_1234 ct_drop_scroll" [options]="scope3Category" [(ngModel)]="selectedScope3" [ngModelOptions]="{standalone: true}" defaultLabel="Select category" optionLabel="label" optionValue="value" display="chip"></p-multiSelect>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer ct_mt_60">
                                <Button type="submit" class="LocButton">
                                    Save
                                </Button>
                                <span type="button" class="text-white font-weight-light" (click)="closeDp_Dialog()">
                                    Close
                                </span>
                            </div>
                        </form>
                    </div>
                </p-dialog>
            </div>
            <!-- close manage data point model dialog -->
        </div>
    </div>
</div>