
<div class="container-fluid">
    <div class="row pt-3">
        <div class="w-100  mt-2 pointer mb-4 ">
           
            <h3 class="mb-3 pl-4">Tree List</h3>
<div class="d-flex align-items-center gap-2 pl-4">
    <button class="ct_custom_btn_500 ct_animation_btn_121 mr-2" routerLink="/main_tree">Tree</button>
<button class="ct_custom_btn_500 ct_animation_btn_121 mr-2" routerLink="facility">Facility</button>
<button class="ct_custom_btn_500 ct_animation_btn_121 mr-2" routerLink="subgroup">Sub Group</button>
<button class="ct_custom_btn_500 ct_animation_btn_121" routerLink="group">Groups</button>
</div>
           <router-outlet></router-outlet>
        </div>
    </div>



 
</div>

