<div class="ct_seprate_page_div" style="height: 100vh; overflow-y: auto;">

    <div class="container-fluid">
        <!-- <div class="row pt-4">
            <div class="col-sm-6" [ngClass]="
                    this.updatedtheme === 'dark' ? 'headlinetextD' : 'headlinetextL'
                ">
                <h3 class="m-0 pl-4 ">Facilities</h3>
            </div>
        </div> -->

        <div class="row d-flex justify-content-between gap-1 mx-3 pt-3 pb-5">
            <div class="col-lg-5 myCol" [ngClass]="
                    this.updatedtheme === 'dark' ? 'Location-tabD' : 'Location-tabL'
                ">
                <div class="row p-2">
                    <div class="loc-head" [ngClass]="
                            this.updatedtheme === 'dark' ? 'loc-headD' : 'loc-headL'
                        ">
                        <p class="ct_fw_600">Set GHG Template</p>
                    </div>
                    <div class="d-flex justify-content-between text-style text-light scope-Div gap-2 mx-0">
                        <div class="searchWidth form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input [(ngModel)]="searchData" autocomplete="off" type="text" [ngClass]="
                                    this.updatedtheme === 'dark'
                                        ? 'form-controlD'
                                        : 'form-controlL'
                                " class="form-control" placeholder="Search" />
                        </div>
                        <!-- <div class="form-group has-search text-light">
                            <button class="LocButton ct_animation_btn_121" (click)="showAddFacilityDialog()">
                                Add Facility
                            </button>
                        </div> -->
                    </div>
                </div>

                <div class="dataTable scrollit" [ngStyle]="{display: FacilityData}">
                    <table class="table_loc ct_billing_table_bg_120">
                        <thead>
                            <tr>
                           
                                <th>Assest Name</th>
                                <th class="text-center">Assest Type</th>
                                <th class="text-center">Country</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr clickable (click)="tableData(d)"  *ngFor="let d of LocData"
                                class="col-12 tableRow border-bottom rounded pointer"
                                [ngClass]="{tableRowclicked: id_var === d.ID}">
                                <!-- <td><p-checkbox name="groupname" [value]="d.ID" (onChange)="onSelectChange($event)" [(ngModel)]="selectedValues"></p-checkbox></td> -->
                                <td class="col-lg-4 td text-initial">
                                    {{ d.AssestName }}
                                </td>
                                <td class="col-lg-4 td text-center">
                                    {{ d.AssestType }}
                                    <i class="fa fa-industry" style="font-size: 15px"></i>
                                </td>
                                <td class="col-lg-4 td text-center">
                                    {{ d.country_name }}
                                    <i class="fa fa-map-marker-alt" style="font-size: 15px"></i>
                                </td>
                              
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-light noData" [ngStyle]="{display: NoData}">
                    <div class="icon mt-3">
                        <i class="fa fa-info-circle" style="font-size: 20px" aria-hidden="true"></i>
                    </div>
                    <label class="text-center label">No facilities available. Start by adding a new facility
                        using the add facility button.</label>
                </div>
            </div>

            <div class="col-lg-6 rounded" [ngClass]="
                    this.updatedtheme === 'dark' ? 'Location-tabD' : 'Location-tabL'
                ">
                <div class="row p-2">
                    <div class="loc-head" [ngClass]="
                            this.updatedtheme === 'dark' ? 'loc-headD' : 'loc-headL'
                        ">
                        <p class="ct_fw_600">Manage Data points:</p>
                    </div>
                </div>

                <div class="col d-flex justify-content-end mt-3"></div>
                <div class="row font-LocProfile mt-0" [ngStyle]="{display: FacilityFullData}">
                    <div class="row mx-0 px-4" >
                        <div class="col-md-12 mb-4">
                            <div class="">
                                <div class="ct_company_profile_input">
                                    <label for="" class="text-dark w-100">Scope 1</label>
                                 
                                    <p-multiSelect class="ct_select_2_full_width12 ct_input_dark_text_145 ct_multi_select_overlap_text_302"
                                         [options]="scope1Category" 
                                        [(ngModel)]="selectedScope1" [ngModelOptions]="{standalone: true}"
                                        [group]="true" defaultLabel="Select category" scrollHeight="250px"
                                        display="chip">
                                        <ng-template let-group pTemplate="group">
                                            <div class="flex align-items-center">
                                                <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/> -->
                                                <span>{{group.label}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="">
                                <label for="" class="text-dark w-100">Scope 2</label>
                                <p-multiSelect class="ct_select_2_full_width12 ct_input_dark_text_145 ct_multi_select_overlap_text_302"
                                    [options]="scope2Category" [group]="true"
                                    [(ngModel)]="selectedScope2" [ngModelOptions]="{standalone: true}"
                                    placeholder="Select category" scrollHeight="250px" display="chip">
                                    <ng-template let-group pTemplate="group">
                                        <div class="flex align-items-center">
                                            <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'mr-2 flag flag-' + group.value" style="width: 20px"/> -->
                                            <span>{{group.label}}</span>
                                        </div>
                                    </ng-template>
                                </p-multiSelect>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="">
                                <label for="" class="text-dark w-100">Scope 3</label>
                                

                                <p-multiSelect class="ct_select_2_full_width12 ct_input_dark_text_145 ct_multi_select_overlap_text_302"
                                    [options]="scope3Category" [(ngModel)]="selectedScope3"
                                    [ngModelOptions]="{standalone: true}" defaultLabel="Select category"
                                    optionLabel="label" optionValue="value"
                                    display="chip"></p-multiSelect>

                            </div>
                        </div>

                        <div class="col-md-12 mb-4">
                            <div class="">
                                <Button type="submit" class="LocButton ct_animation_btn_121" (click)="SaveManageDataPoint()">
                                    Save
                                </Button>

                            </div>
                        </div>
                        <!-- <button (click)="logSelectedFacilityIds()">Log Selected Facility Ids</button> -->


                        <!-- <p  class="mr-2 pt-1 pointer ct_filter_dropdown" >
                            
                        </p> -->
               


                    </div>
             
              


                </div>
                <div class="text-light noData" [ngStyle]="{display: NoData}">
                    <div class="icon mt-3">
                        <i class="fa fa-info-circle" style="font-size: 20px" aria-hidden="true"></i>
                    </div>
                    <label class="text-center label">No facilities available. Start by adding a new facility
                        using the add facility button.</label>
                </div>



                
   
              
                <!-- close manage data point model dialog -->
            </div>
        </div>
    </div>

</div>