<!-- <app-admin-dashboard *ngIf="IsPAdmin"></app-admin-dashboard>
<div class="content-header" *ngIf="!IsPAdmin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" [ngClass]="
                    this.updatedtheme === 'dark'
                        ? 'headlinetextD'
                        : 'headlinetextL'
                ">
                <h3 class="m-0 pl-2 pb-3 ct_fs_24">Dashboard</h3>
            </div>
        </div>
    </div>
    <div class="  mx-4 mb-3 pt-3 " [ngClass]="
            this.updatedtheme === 'dark'
                ? 'Dashboard-tabD dashboard-tab'
                : this.updatedtheme === 'light'
                ? 'Dashboard-tabL'
                : this.updatedtheme === 'theme1'
                ? 'Dashboard-tab1'
                : this.updatedtheme === 'theme2'
                ? 'Dashboard-tab2'
                : this.updatedtheme === 'theme3'
                ? 'Dashboard-tab3'
                : this.updatedtheme === 'theme4'
                ? 'Dashboard-tab4'
                : ''
        ">
        <div class=" tabs-container ct_flex_tabs">
            <div class=" col-3">
                <p class="pointer headtab" [routerLink]="['/']" (click)="changeheadtabs(0)"
                    [ngClass]="this.activetab === 0 ? 'headtabs' : ''">
                    Envirnoment
                </p>
            </div>
            <div class="col-3">
                <p class="pointer headtab" (click)="changeheadtabs(1)"
                    [ngClass]="this.activetab === 1 ? 'headtabs' : ''">
                    Stationary Combustion
                </p>
            </div>
            <div class="col-3">
                <p class="pointer headtab" (click)="changeheadtabs(2)"
                    [ngClass]="this.activetab === 2 ? 'headtabs' : ''">
                    Refrigerants
                </p>
            </div>
            <div class="col-3">
                <p class="pointer headtab" (click)="changeheadtabs(3)"
                    [ngClass]="this.activetab === 3 ? 'headtabs' : ''">
                    Fire Extinguisher
                </p>
            </div>
            <div class="col-3">
                <p class="pointer headtab" (click)="changeheadtabs(4)"
                    [ngClass]="this.activetab === 4 ? 'headtabs' : ''">
                    Company Owned Vehicle
                </p>
            </div>
            <div class="col-3">
                <p class="pointer headtab" (click)="changeheadtabs(5)"
                    [ngClass]="this.activetab === 5 ? 'headtabs' : ''">
                    Renewable Electricity
                </p>
            </div>
            <div class="col-3">
                <p class="pointer headtab" (click)="changeheadtabs(6)"
                    [ngClass]="this.activetab === 6 ? 'headtabs' : ''">
                    Heat and Steam
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="activetab === 1">
        <app-stationary-combustion></app-stationary-combustion>
    </div>
    <div *ngIf="activetab === 2">
        <app-refrigerants-section></app-refrigerants-section>
    </div>
    <div *ngIf="activetab === 3">
        <app-fire-extinguisher></app-fire-extinguisher>
    </div>
    <div *ngIf="activetab === 4">
        <app-vehicle></app-vehicle>
    </div>
    <div *ngIf="activetab === 5">
        <app-electricity></app-electricity>
    </div>
    <div *ngIf="activetab === 6">
        <app-heatand-steam></app-heatand-steam>
    </div>

  
    <section class="content" *ngIf="activetab === 0">
        <div class="container-fluid">
            <div *ngIf="EnvironmentDataPoints && EnvironmentDataPoints.length > 0">
                <p-carousel [numVisible]="4" [numScroll]="4" [value]="EnvironmentDataPoints" [responsive]="true">
                    <ng-template pTemplate="item" let-item>
                
                        <div class="px-2" (click)="changecombustiontabs(item)">
                            <div class="small-box text-center d-flex pointer" [ngClass]="{
                          'Dashboard-tabD': this.updatedtheme === 'dark',
                          'Dashboard-tabL': this.updatedtheme === 'light',
                          'Dashboard-tab1': this.updatedtheme === 'theme1',
                          'Dashboard-tab2': this.updatedtheme === 'theme2',
                          'Dashboard-tab3': this.updatedtheme === 'theme3',
                          'Dashboard-tab4': this.updatedtheme === 'theme4',
                          activecombustion: this.activecombustiontab === item.id
                        }">
                                <div class="combustionicon">
                                    <img src="assets/img/dashboard/combustionicon.png" />
                                </div>
                                <div>
                                    <p class="Consumptions">
                                        Total {{ item.dataPointName }} Combustion
                                    </p>

                                    <div class="text-center">
                                        <p class="innervalue">{{ item.totalCombustion }}</p>
                                        <p class="unit">kwh</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
            <div *ngIf="EnvironmentDataPoints && EnvironmentDataPoints.length === 0">
          
                <p>No data available</p>
            </div>

            <div class="row text-white">
                <div class="col-7">
                    <div class="small-box" [ngClass]="
                                this.updatedtheme === 'dark'
                                    ? 'Dashboard-tabD'
                                    : this.updatedtheme === 'light'
                                    ? 'Dashboard-tabL'
                                    : this.updatedtheme === 'theme1'
                                    ? 'Dashboard-tab1'
                                    : this.updatedtheme === 'theme2'
                                    ? 'Dashboard-tab2'
                                    : this.updatedtheme === 'theme3'
                                    ? 'Dashboard-tab3'
                                    : this.updatedtheme === 'theme4'
                                    ? 'Dashboard-tab4'
                                    : ''
                            ">


                        <div class="inner">
                            <p>Top {{ dataPointName }} consuming side</p>
                            <div *ngIf="TopCarbonConsumingList && TopCarbonConsumingList.length > 0; else emptyList">
                                <ngx-charts-bar-vertical [view]="[630, 300]" [results]="TopCarbonConsumingList"
                                    [xAxisLabel]="'Facilities'" [legendTitle]="'C E Chart'"
                                    [yAxisLabel]="'Carbon Emission'" [legend]="true" [showXAxisLabel]="true"
                                    [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true"
                                    [scheme]="'forest'">
                                </ngx-charts-bar-vertical>
                            </div>
                        </div>
                        <ng-template #emptyList>
                            <p>No data available</p>
                        </ng-template>
                    </div>
                </div>
                <div class="col-5">
                    <div class="small-box" [ngClass]="
                                this.updatedtheme === 'dark'
                                    ? 'Dashboard-tabD'
                                    : this.updatedtheme === 'light'
                                    ? 'Dashboard-tabL'
                                    : this.updatedtheme === 'theme1'
                                    ? 'Dashboard-tab1'
                                    : this.updatedtheme === 'theme2'
                                    ? 'Dashboard-tab2'
                                    : this.updatedtheme === 'theme3'
                                    ? 'Dashboard-tab3'
                                    : this.updatedtheme === 'theme4'
                                    ? 'Dashboard-tab4'
                                    : ''
                            ">
                        <div class="inner">
                            <P>Renewable {{ dataPointName }}</P>
                            <div *ngIf="TopCarbonConsumingList && TopCarbonConsumingList.length > 0; else emptyList">
                                <ngx-charts-advanced-pie-chart [results]="TopCarbonConsumingList" [view]="[400, 300]"
                                    [scheme]="'forest'">
                                </ngx-charts-advanced-pie-chart>
                            </div>
                        </div>
                        <ng-template #emptyList>
                            <p>No data available</p>
                        </ng-template>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="small-box" [ngClass]="
                            this.updatedtheme === 'dark'
                                ? 'Dashboard-tabD'
                                : this.updatedtheme === 'light'
                                ? 'Dashboard-tabL'
                                : this.updatedtheme === 'theme1'
                                ? 'Dashboard-tab1'
                                : this.updatedtheme === 'theme2'
                                ? 'Dashboard-tab2'
                                : this.updatedtheme === 'theme3'
                                ? 'Dashboard-tab3'
                                : this.updatedtheme === 'theme4'
                                ? 'Dashboard-tab4'
                                : ''
                        ">
                        <div class="inner">
                            <P>Total {{ dataPointName }} Consumption by
                                month</P>
                            <div
                                *ngIf="TopCarbonConsumingByMonthList && TopCarbonConsumingByMonthList.length > 0; else emptyList">
                                <ngx-charts-area-chart class="text-white" [results]="TopCarbonConsumingByMonthList"
                                    [xAxisLabel]="'Facilities'" [yAxisLabel]="'Carbon Emission'" [view]="[1100, 300]"
                                    [scheme]="'forest'" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
                                    [yAxis]="true">
                                </ngx-charts-area-chart>
                            </div>
                            <ng-template #emptyList>
                                <p>No data available</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->

<div class="ct_dashboard_main">
    <div class="ct_dashboard_right">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 mb-4">
                    <div class="ct_emission_menu_link">
                        <ul class="ps-0 mb-0">
                            <li>
                                <a routerLink="/dashboard/ghgEmision"  routerLinkActive="ct_active" [routerLinkActiveOptions]="{ exact: false }">GHG Emissions</a>
                            </li>
                            <li>
                                <a routerLink="/dashboard/energyEmission" routerLinkActive="ct_active" [routerLinkActiveOptions]="{ exact: false }">Energy Consumption</a>
                            </li>
                            <li>
                                <a routerLink="/dashboard/businessTravel" routerLinkActive="ct_active" [routerLinkActiveOptions]="{ exact: false }">Business Travel</a>
                            </li>
                            <li>
                                <a routerLink="/dashboard/waterUsage" routerLinkActive="ct_active" [routerLinkActiveOptions]="{ exact: false }">Water Usage</a>
                            </li>
                            <li>
                                <a routerLink="/dashboard/waste" routerLinkActive="ct_active">Wastage</a>
                            </li>
                        </ul>
                    </div>
                </div>
          
            </div>
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>

           

        </div>

    </div>
</div>